/*
    Alex Wong
    Personal portfolio site

    Special feature: the box enlarges on hover.
    Used css-tricks.com and w3schools.com for refreshers on individual css things
*/

:root {
    --primary-gradient: linear-gradient(45deg, #6BEFB0, #63C7FF);;
    --active-gradient: linear-gradient(45deg,#1D7249, #005F94);
    --background-gradient: linear-gradient(45deg,#1D1D1D, #090909);
    --text-primary-color: #fff;
}

body {
    margin: 0;
    padding: 0;

    padding-top: 10vh;

    width: 100vw;
    height: 100vh;

    background-image: var(--background-gradient);

    /* adopted from https://www.w3schools.com/css/css3_flexbox_container.asp */
    /* used as more of a quick refresh */
   
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    color: var(--text-primary-color);
    font-size: 1.5vw;
}

h1, h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 7vw;
    background: var(--primary-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: 0;
    padding: 0;
}

h2 {
    font-size: 5vw;
}

h3 {
    color: var(--text-primary-color);
    font-size: 3vw;

    margin: 0;
    padding: 0;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    width: 68%;
}

.project-items-container {

}

.project-name {
    width: 30%;
}

.project-item {
    display: flex;
    flex-direction: row;
    align-items: center; 

    padding: 1vw;

    border: 3px solid #63C7FF;
    border-radius: 20px; 
}

.project-item:hover {
    background-image: var(--active-gradient);
}

.item-description-container {
    width: 100%;
}

.software-used-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}






