/*
    Alex Wong
    CS52 
    3/30/21

    Special feature: the box enlarges on hover.

    Used css-tricks.com and w3schools.com for refreshers on individual css things
*/

body {
    padding: 0;
    margin: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgb(245, 245, 245);

    /* adopted from https://www.w3schools.com/css/css3_flexbox_container.asp */
    /* used as more of a quick refresh */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: rgb(134, 197, 255);
    font-size: 100px;
    margin: 0;
}

p {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
}

.bio {
    margin: auto;
    width: 50%;
    text-align: center;

    background-color: #fff;
    border: 5px solid rgb(134, 197, 255);
    border-radius: 20px;
    padding: 30px;

    /* adopted from https://css-tricks.com/different-transitions-for-hover-on-hover-off/ */
    /* used as more of a quick refresh */
    transition: all 1s;
}

.bio:hover {
    transform: scale(1.05); 
}



